*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, p, a{
  font-family: 'Nunito', sans-serif;
}
p,a{
  font-weight: 400;
  font-size: 16x;
  line-height: 25px;
}
.heroSec{
  padding: 30px 10%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.heroSec .left{
  flex-basis: 45%;
  padding-top: 90px;
}
.heroSec .right{
  flex-basis: 35%;
}
.heroSec .right{
  text-align: right;
}
.heroSec .left h1{
  font-size: 50px;
  color: #333;
  border-left: 5px solid #ff5959;
  border-radius: 1px;
  padding-left: 20px;
  line-height: 65px;
  font-family: 'Playfair Display', serif;
  font-weight: 900;
}
.heroSec .left p{
  padding: 30px 0px 20px;
}
.orangeText{
  color: #ffad5a;
}
.heroSec .right img{
  width: 100%;
}
.btn{
  color: white;
  background: #ff5959;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 5px;
  margin-top: 10px;
  display: inline-block;
}
.smallText{
  font-size: 14px;
  padding-top: 15px;
}
/* Hero section ENDS */

.mission{
  padding: 30px 10%;
}
h1.primaryHeading{
  color: #13103a;
  text-align: center;
  font-size: 45px;
  font-weight: 800;
  padding-bottom: 55px
}
.missionBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.missionItem{
  flex-basis: 32%;
}
.missionItem img{
  width: 100px;
}
.missionItem{
  padding: 30px 25px;
  border-radius: 20px;
}
.missionItem:nth-child(1){
  background: #ffeeee;
}
.missionItem:nth-child(2){
  background: #edf5f6;
}
.missionItem:nth-child(3){
  background: #fff4d6;
}
.missionItem h3{
  padding: 15px 0px;
}
/* Mission section ENDS */

.limit{
  padding: 100px 10% 30px;
  position: relative;
}
.shape{
  position: absolute;
  left: 5%;
  width: 170px;
  top: 30%;
  z-index: -1;
}
.limitBox{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.limitItemLeft{
  flex-basis: 35%;
}
.limitItemRight{
  flex-basis: 58%;
}
.limitItemLeft img{
  width: 100%;
}
.secondaryHeading{
  font-size: 30px;
  font-weight: 900;
  padding: 20px 0px;
}
.documentationBtn{
  margin-top: 25px;
}
/* Limit section ENDS */

.community{
  padding: 100px 10% 30px;
  position: relative;
}
.shape2{
  position: absolute;
  right: 5%;
  width: 170px;
  bottom: -5%;
  z-index: -1;
}
.communityBox{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.communityItemLeft{
  flex-basis: 58%;
}
.communityItemRight{
  flex-basis: 35%;
}
.communityItemRight img{
  width: 100%;
}
/* Community section ENDS */

.blog{
  padding: 100px 10% 30px;
}
.blogBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.blogItem{
  flex-basis: 32%;
border: 1px solid gray;
}
.blogItem img{
  width: 100%;
}
.blogHeading{
  padding-bottom: 20px;
}
.blogText{
  padding: 25px;
}
/* Blog section ENDS */

.footer{
  padding: 30px 10%;
  background: #0b0d17;
  text-align: center;
  color: #ffffff;
  margin-top: 100px;
}
.redFont{
  color: #ff5959;
}
/* Footer section ENDS */
